.playlist-wrapper {
  position: relative;
}

.track-field__remove-btn {
  position: absolute;
  right: 10px;
  bottom: 15px;

  .remove-btn {
    color: #f36060;
    cursor: pointer;
    width: 16px;

    &:hover {
      color: #8c3838;
      transition: 800ms;
    }
  }
}

