.track-field__remove-section {
  .remove-section__wrapper {
    display: flex;
    justify-content: space-between;
  }


}


.track-field {
  padding: 7px 14px;
  display: flex;

  &:hover {
    background: rgba(255, 255, 255, 0.06);
    transition: 800ms;
  }
}

.track-field__remove-section {
  align-items: center;
}

